@media (min-width: 601px) {
    #showcase {
        background-size: cover;
        background-image: url('images/photo-long.png');
    }
    
    header {
        
        font-size: larger;
    }
    #showcase-content {
        flex-flow: row;
        align-content: flex-end;
        margin-left: 70ch;
        text-align: left;
    }

    #showcase-content-text-container {
        margin: auto;
        padding: 10px;
    }

    #showcase-content-text h1 {
        font-size: 60px;
    }

    #showcase-content-text h2 {
        font-size: 20px;
    }

    #showcase-content-text-container a {
    }
    
    #spinner {
        z-index: 1000;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;  
        display: flex; 
    }
    #spinner > div {
        margin: auto;
    }
    
    #blablabla {
        margin-top: 20px;
        display: none;
        margin-bottom: 10px;
    }
    #blablabla p {
        margin-bottom: 5px;
        font-size: 13px;
    }
    #about-us {
        flex-basis: 50%; 
        margin: auto;
        font-size: 15px;
    }
    .tiles-layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        flex: 2;    
    }

    .individuals-main-text {
            flex-basis: 50%; 
            margin: auto;
            font-size: 15px;
    }
    
    .main-text {
        margin: 20px;
    }
    
    #entities .tile {
        background-color:  rgba(190, 195, 197, 0.2);
        border-radius: 5px;
    }

    
.tile h2 {
    height: 40px;
}
.tile-icon {
    margin: 10px;
}

}