@media (min-width: 601px) {
    section {
        padding-top: 7em;
        padding-bottom: 7em;
    }
    .image {
        background-size: cover;
    }
    ul {
        text-align: justify;
    }
    .ptext {
        height: 30vh;
        width: 60vw;
        left: 20vw;
        top: 35vh;
    }
    
    .height45 {
        min-height: 45vh;
    }
    #about-us {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em; 
    } 

    #portrait {
        grid-row: 1/3;
    }
    
    .section-light .tile {
        background-color: rgba(255,255,255,0.7);
    }
    
    .tiles-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;   
    }

    .tile-header {
        height: 30vh;
    }
    
    #individuals-text .tiles-layout {
        grid-template-columns: repeat(4, 1fr);
    }
    
    #entities-text  {
        background-image: url('images/original.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}