@media (max-width: 600px) {
    .image {
        background-attachment: fixed;
    }
    .ptext {
        top: 20%;
        left: 10%;
        height: 40%;
        width: 60%;
    }
    
    .ptext h1 {
        letter-spacing: 0.1em;
    }


    .ptext h1 {
        font-size: 2em;
    }

    .ptext h2 {
        font-size: .8em;
    }

    #company-info-links {
        flex-direction: column;
    }
    .company-info-link {
        width: 60%;
    
    }

    h1.section-header {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;
        color: whitesmoke;
    }

}