@font-face {
    font-family: 'czech';
    src: url('resources/17589.otf');
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-size: 16px;
    color: #666; 
    line-height: 1.6;   
    font-family: 'Benguiat Rus', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.full-page {
    min-height: 100%;
}

.ptext {
    position: absolute;
    height: 20vh;
    width: 60vw;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    left: 20vw;
    top: 40vh;
}

.section-header {
    margin: auto;
    text-align: center;
    color: #111;
}
.section-header h1 {
    color: black;
    margin-top: 80px;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.border {
    color: white;
    padding: 20px;
    /* opacity: 0.7; */
}

.trans {
    background-color: rgba(17,17,17,0.7);
}

.section-light {
    background-color: lightgray;
    color: black;
}
.section-dark {
    background-color: #232425;
    color: #ddd;
}

#page1 {
    background-image: url("images/option1.jpeg");
}

#entities {
    background-image: url("images/option3.jpeg");
}

#individuals {
    background-image: url("images/option5.jpeg");
}
#individuals-text {
    text-align: center;
}
#individuals-text .tile {
    background-color: inherit;
}
.height45 {
    min-height: 45vh;
}

#page1 h1 {
    font-size: 40px;
}

.text {
    width: 90vw;
    padding: 20px; 
    margin: 0 auto; 
    display: flex;
    justify-items: flex-start; 
    align-content: center;
    
}

#about-us p {
    line-height: 1.8;
}
#about-us-text1 {
    flex-basis: 30%;
    text-align: left;
    margin: auto;
}

#about-us-text2 {
    flex-basis: 30%;
    text-align: right;
    margin: auto;
}
#portrait {
    width: 250px;
    height: 250px;
    background-image: url('images/antcut.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    /* border: 3px solid rgb(92, 91, 91); */

    
}

#company-info-links {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.company-info-link {
    letter-spacing: 1px;
    text-transform: none;
    color: whitesmoke;
    padding: 5px;
    font-size: 12px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    width: 15vw;
    margin: 10px;
}
.company-info-link a {
    color: whitesmoke;
    
}
/* showcase */

/* common */
a {
    cursor: pointer;
    text-decoration: none;
}

.tiles-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: space-around; */
    align-content: center;
    flex: 2;    
}


.tile h2 {
height: 40px;
}
.tile-icon {
margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3ch;
    background-color: rgb(65, 63, 63);
    color: white;
    text-align: center;
    font-size: smaller;
}
#showcase {
    background-image: url('images/imageedit_15_7174782451.jpg'); 
    background-repeat: no-repeat;
    background-size: contain;
}

#showcase-content {
    height: 100vh;
    display: flex; 
    flex-flow: column;
    align-content: center;
}

#showcase-content-text h1 {
    font-weight: bolder;
    font-family: czech;
    line-height: 1;
}

#showcase-content-text h2 {
    font-weight: bold;
}

#buttons {
    display: inline-flex;
    margin-top: 5px;
    /* flex-flow: row;
    align-content: center; */
}

.button {
    background-color:  rgba(62, 85, 94, .2);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.button:hover {
    background-color:  rgba(62, 85, 94, .5);
}

#buttons a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 13px;
    font-family: "Segoe UI";
}

.tile-header {
    text-align: center;
    }
.tile {
    padding: 3px;
}

.tile {
    flex: 1;
    min-width: 20%;
    margin: 20px;
}


h1 {
    font-family: czech;
    font-size: 30px;
}
h2 {
    font-size: 15px;
}
ul {
    list-style-type: none;
    list-style-position: outside;
}

li {
    font-size: 12px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 12px;
    list-style-position: inside;
}

#contacts {
    background-image: url("images/option4.jpeg");
}

.email {
    text-decoration: underline;
}
.ptext a {
    color: white;
    text-transform: none;
    cursor: pointer;
    letter-spacing: normal;
    font-weight: normal;
}

#entities .tile {
    width: 20vw;
}