
@font-face {
    font-family: 'czech';
    src: url('resources/17589.otf');
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-size: 12px;
    color: whitesmoke;
    line-height: 1.6;   
    font-family: 'Benguiat Rus', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    min-height: 100vh;
    padding-top: 5vh;
}

/* showcase */

/* common */
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
header {
    position: fixed;
    top: 0;
    width: 98%;
    height: 4vh;
    padding: 1%;
    
    text-align: right;
    text-align: right;
} 

.header-scrolling {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    background-color: rgba(255, 255, 255, 0.8);
}

header > a {
    text-decoration: none;
    text-transform: lowercase;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3ch;
    background-color: rgb(65, 63, 63);
    color: white;
    text-align: center;
    font-size: smaller;
}
#showcase {
    background-image: url('images/transparent.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}

#showcase-content {
    height: 100vh;
    display: flex; 
    flex-flow: column;
    align-content: center;
    
}

#showcase-content-text h1 {
    font-weight: bolder;
    font-family: czech;
    line-height: 1;
}

#showcase-content-text h2 {
    font-weight: bold;
}

#buttons {
    display: inline-flex;
    margin-top: 5px;
    /* flex-flow: row;
    align-content: center; */
}

.button {
    background-color:  rgba(62, 85, 94, .5);
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    font-size: larger;
}

.button:hover {
    background-color:  rgba(62, 85, 94, .5);
}

#buttons a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    font-size: 17px;
    font-family: "Segoe UI";
}

/*
@font-face {
    font-family: 'czech1';
    src: url('file://C:/Users/Andrei/Desktop/ant/ofont.ru_MyslNarrowC.ttf');
}

@font-face {
    font-family: 'czech1';
    src: url('file://C:/Users/Andrei/Desktop/ant/ofont.ru_a_BodoniNovaNr.ttf') format("truetype");
}
*/

@media (min-width: 601px) {
    #showcase {
        background-size: cover;
        display: flex;
        /* background-image: url('images/photo-long.png'); */
    }
    
    header {
        
        font-size: larger;
    }
    #czech {
        background-image: url('images/transparent.png');
        background-size: cover;
        width: 50vw;
        height: 100vh;
    }

    #showcase-content {
        text-align: center;
        text-shadow: 0 0 3px gray, 0 0 5px rgb(126, 126, 172); 
        width: 100%;
    }

    #showcase {
        
        background-size: cover;
    }

    #showcase-content-text-container {
        margin: auto;
        padding: 10px;
        
    }

    #showcase-content-text h1 {
        font-size: 90px;
    }

    #showcase-content-text h2 {
        font-size: 30px;
    }

    #showcase-content-text-container a {
    }
    
    #spinner {
        z-index: 1000;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;  
        /* display: flex;  */
        display: none;
    }
    #spinner > div {
        margin: auto;
    }
    
    #blablabla {
        margin-top: 20px;
        display: none;
        margin-bottom: 10px;
    }
    #blablabla p {
        margin-bottom: 5px;
        font-size: 13px;
    }
    #about-us {
        flex-basis: 50%; 
        margin: auto;
        font-size: 15px;
    }
    .tiles-layout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        flex: 2;    
    }

    .individuals-main-text {
            flex-basis: 50%; 
            margin: auto;
            font-size: 15px;
    }
    
    .main-text {
        margin: 20px;
    }
    
    #entities .tile {
        background-color:  rgba(190, 195, 197, 0.5);
        border-radius: 5px;
        color: black;
        font-weight: bold;
    }
    .main-text h1 {
        text-align: center;
    }
    #entities {
        
        background-size: cover;
    }
    
.tile h2 {
    height: 40px;
}
.tile-icon {
    margin: 10px;
}

}
.tile-header {
    text-align: center;
    }
.tile {
    padding: 3px;
}

@media (max-width: 600px) {
    #showcase {
        background-size: cover;
    }
    header {
        font-size: x-small;
        text-align: center;
    }
    #showcase-content-text-container {
        text-align: center;
        margin-top: 65vh;
        height: 35vh;
        background-color: rgba(255, 255, 255, 0.8);

    }

    #showcase-content-text h1 {
        font-size: 35px;
        margin-top: 20px;
    }
    
    #showcase-content-text h2 {
        font-size: 14px;
    }

    #blablabla {
        display: none;
    }

    #about-us {
        flex-basis: 80%; 
        margin: auto;
        font-size: 12px;
    }

    .individuals-main-text {
        flex-basis: 80%; 
        margin: auto;
        font-size: 12px;
    }
    
    .tile {
        border-bottom: 1px solid rgb(214, 210, 210);
        padding-bottom: 20px;
    }
    
    .tile:nth-last() {
        border-bottom: 0px;
    }
}

.tile {
    flex: 1;
    min-width: 20%;
    margin: 20px;
}


h1 {
    font-family: czech;
    font-size: 30px;
}
h2 {
    font-size: 15px;
}
ul {
    list-style-type: none;
    list-style-position: outside;
}

li {
    font-size: 12px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 12px;
    list-style-position: inside;
}

.main-text p {
    font-size: 12px;
}